<section class="spotlight bg-cover bg-size--cover" style="background-image: url('{{ 'background.jpg' | asset_url }}')">
    <span class="mask bg-primary alpha-7"></span>
    <div class="spotlight-holder py-sm pt-lg-lg">
      <div class="container d-flex align-items-center">
        <div class="row cols-xs-space cols-sm-space cols-md-space align-items-center justify-content-around">
          <div class="col-lg-5 text-center">
            <h2 class="heading h1 text-white strong-400">
                Jump-start your build base on you budget.
            </h2>
            <p class="lead text-white mt-4">
                You Dream, We Build. We have a tool designed to assist you in your pc build.
            </p>
            <a href="#" target="_blank" class="btn bg-white mt-4">
                Build Now
            </a>
          </div>
          <div class="col-lg-5">
            <div class="position-relative">
              <img src="{{ 'gaming-computer-photo.png' | asset_url }}" class="img-center img-fluid rounded">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>