<footer class="pt-5 pb-3 footer  footer-dark bg-tertiary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="pr-lg-5">
            <h1 class="heading h6 text-uppercase font-weight-700 mb-3">{{ shop.name }}</h1>
            <p>Finding the right pc part is now easier with us at PC Forge. We regularly check and list new components on our website, so you'll always get the available and latest components without any hassle.</p>
          </div>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Services</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Tech Team</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
            <li><a class="text-muted" href="#">Link</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="d-flex align-items-center">
        <span class="">
          &copy; 2021 <a href="http://jalimpia-cs.firebaseapp.com/" class="footer-link" target="_blank">By Jerone</a>. All rights reserved.
        </span>
        <ul class="nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank"><i class="fab fa-github"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>