<section class="py-5 bg-lighter border-top border-bottom" id="scrollToSection">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center">
        <a href="#" class="btn btn-primary btn-icon-only btn-zoom--hover rounded-circle">
          <span class="btn-inner--icon"><i class="fas fa-desktop"></i></span>
        </a>
        <span class="heading h4 ml-3 mb-0">We'll help you to be sure that the compatibility of your selected PC parts is just right.</span>
      </div>
    </div>
  </section>