<section class="slice slice-xl" data-delimiter="1">
  <div class="container">
    <div class="row cols-xs-space cols-sm-space align-items-center">
      <div class="col-md-6 order-md-2 ml-lg-auto">
        <img src="{{ 'gaming-rig.jpg' | asset_url }}" class="img-center img-fluid rounded z-depth-3">
      </div>
      <div class="col-md-6 col-lg-5 order-md-1">
        <div class="pr-md-4">
          <h3 class="heading h3">
            Assurity with PC Compatibility
          </h3>
          <p class="lead text-gray mt-4">We developed this website with hundreds of most significant compatibility algorithms, which makes building PC much easier, and you'll get 100% assurity with the pc parts compatibility.</p>
        </div>
      </div>
    </div>
  </div>
</section>