<section class="slice slice-lg" data-delimiter="1">
    <div class="container">
      <div class="row cols-xs-space cols-sm-space align-items-center">
        <div class="col-md-6">
          <img src="{{ 'gaming-computer-png-picture.png' | asset_url }}" class="img-center img-fluid rounded z-depth-3">
        </div>
        <div class="col-md-6 col-lg-5 ml-lg-auto">
          <div class="pr-md-4">
            <h3 class="heading h3">
              Building your own PC is a rewarding experience.
            </h3>
            <p class="lead text-gray mt-4">We handle the toughest task of PC compatibility with easeand provide you with the best compatibility that's available.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>