<section class="slice slice-lg" data-delimiter="1">
    <div class="container">
      <div class="mb-md text-center">
        <h3 class="heading h3">Performing with Excellence to Do More for More</h3>
        <div class="fluid-paragraph text-center mt-4">
          <p class="lead lh-180">We are excellence with the pc parts compatibility to do more for you!
          With the ever-changing tech, you'll always get the latest and most accurate compatibility.</p>
        </div>
      </div>
      <div class="row cols-xs-space cols-sm-space cols-md-space">
        <div class="col-lg-4">
          <div class="card">
            <img src="{{ 'product-1.jpg' | asset_url }}" class="card-img-top">
            <div class="card-body text-center">
              <h3 class="heading h5 mb-1">
                <span class="d-block">Build Package 1</span>
                <small class="text-muted">AMD Ryzen 5</small>
              </h3>
              <p class="mt-2">(Ryzen 7 2700X, 64GB RAM, GTX 1080) - Used for gaming and graphic</p>
              <a href="#" target="_blank" class="btn btn-sm btn-primary">Ask for Quote</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="{{ 'product-2.jpg' | asset_url }}" class="card-img-top">
            <div class="card-body text-center">
              <h3 class="heading h5 mb-1">
                <span class="d-block">Build Package 2</span>
                <small class="text-muted">AMD Ryzen 7</small>
              </h3>
              <p class="mt-2">(Ryzen 7 2700X, 64GB RAM, GTX 1080) - Used for gaming and graphic</p>
              <a href="#" target="_blank" class="btn btn-sm btn-primary">Ask for Quote</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="{{ 'product-3.jpg' | asset_url }}" class="card-img-top">
            <div class="card-body text-center">
              <h3 class="heading h5 mb-1">
                <span class="d-block">Build Package 3</span>
                <small class="text-muted">AMD Ryzen 9</small>
              </h3>
              <p class="mt-2">(Ryzen 7 2700X, 64GB RAM, GTX 1080) - Used for gaming and graphic</p>
              <a href="#" target="_blank" class="btn btn-sm btn-primary">Ask for Quote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>